<div id="error_explanation" data-target="<%= object.class.name.downcase %>.errorExplanation" <%= "hidden" unless object.errors.any? %>>
  <h2><span data-target="<%= object.class.name.downcase %>.errorCount"><%= pluralize(object.errors.count, "error") %></span> prohibited this <%= object.class.name.downcase %> from being saved:</h2>

  <ul data-target="<%= object.class.name.downcase %>.errorContainer">
  <% object.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
