<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td>Game: <%= game.id %></td>
        <td><%= link_to calculate_game_status_text(game), game %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Random Game', games_path(random: 1), method: :post %>
<%= link_to 'New Game', new_game_path %>
