<p id="notice"><%= notice %></p>

<% unless @game.active? %>
    <p>Game <%= calculate_game_status_text(@game) %></p>
<% end %>

<p id="obfuscated_word"><%= generate_obfuscated_word(@game.target_word, @game.guessed_letters) %></p>
<p>Lives remaining: <span id="lives_remaining"><%= @game.lives_remaining %></span></p>
<p>
    Guessed letters:<br />
    <span id="guessed_letters"><%= @game.guessed_letters.join(" ") %></span>
</p>

<% if @game.active? %>
    <div id="guess_form">
        <%= render 'guesses/form', guess: @guess, game: @game %>
    </div>
<% end %>

<%= link_to 'Back', games_path %>
